<%- include('partials/header', { title: 'Lista de Productos', user: user }) %>
    <h2>Lista de Productos</h2>
    <% if (productos.length > 0) { %>
        <ul>
            <% productos.forEach(producto => { %>
                <li>
                    <h3><%= producto.nombre %></h3>
                    <p><%= producto.descripcion %></p>
                    <p>Precio: <%= producto.precio %> €</p>
                    <img src="<%= producto.imagenUrl %>" alt="<%= producto.nombre %>" width="100">
                    <form action="/agregar-a-cesta" method="POST">
                        <input type="hidden" name="productoId" value="<%= producto._id %>">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" id="cantidad" name="cantidad" value="1" min="1">
                        <button type="submit">Agregar a la cesta</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No hay productos disponibles.</p>
    <% } %>
    <p>Productos en la cesta: <%= cestaCantidad %></p>
    <a href="/cesta">Ver cesta</a>
<%- include('partials/footer') %>